.base2 {
  margin: 0;
  height: 88px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 2;
}
.frame-white-button-google {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 19px;
}
.ellipse-shape-icon,
.vectors-align-icon {
  height: 44px;
  width: 44px;
  position: relative;
  object-fit: cover;
}
.vectors-align-icon {
  height: 41px;
  width: 42px;
}
.discord-logo-icon {
  position: absolute;
  height: 74.58%;
  width: 75%;
  top: 12.5%;
  right: 12.5%;
  bottom: 12.92%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.carbonlogo-linkedin {
  height: 48px;
  width: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.email-address-input,
.input-field-rectangle {
  position: absolute;
  height: 8.96%;
  width: 23.8%;
  top: 46.67%;
  right: 38.4%;
  bottom: 44.37%;
  left: 37.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.input-field-rectangle {
  height: 81.25%;
  width: 71%;
  top: 12.5%;
  right: 14.6%;
  bottom: 6.25%;
  left: 14.4%;
  z-index: 1;
}
.carbonlogo-discord {
  height: 48px;
  width: 50px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.left-side-vector {
  width: 299px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1px 0 0;
  box-sizing: border-box;
  gap: 20px;
  z-index: 2;
}
.left-side-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.white-button-google {
  position: absolute;
  top: 54.3px;
  left: 61px;
  border-radius: 50%;
  background-color: #fcfcff;
  width: 80.2px;
  height: 80.2px;
  z-index: 2;
}
.white-button-apple {
  position: absolute;
  top: 83.7px;
  left: 59px;
  width: 82.8px;
  height: 22px;
  z-index: 3;
}
.sign-in-button {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame-sign-in {
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 463px 161px 68px 20px;
  box-sizing: border-box;
  position: relative;
  gap: 357px;
  min-width: 720px;
  max-width: 100%;
  text-align: left;
  font-size: 72px;
  color: #fff;
  font-family: Montserrat;
}
@media screen and (max-width: 1200px) {
  .frame-sign-in {
    flex: 1;
  }
}
@media screen and (max-width: 1050px) {
  .base2 {
    font-size: 58px;
  }
  .frame-sign-in {
    padding-top: 301px;
    padding-bottom: 44px;
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .frame-sign-in {
    gap: 178px;
    padding-right: 80px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .base2 {
    font-size: 43px;
  }
  .frame-sign-in {
    padding-top: 196px;
    padding-bottom: 29px;
    box-sizing: border-box;
  }
}
